@charset "utf-8";

.tit h3{font-size: 6rem;}
.tit h3+p{padding: 50px 0;}

/* #mv */
#mv{position: relative;}
#mv img{width: 100%; height: 100vh; object-fit: cover;}

#mv .inner{position: absolute; top: 60%; right: 5%; width: 100%;}
#mv .inner .mvtit{color: #fff; text-align: right;}
#mv .inner .mvtit h2{font-size: 6rem; padding: 0 0 50px;}
#mv .inner .mvtit h2+p{font-size: 2.4rem;}

/* #info */
#info{padding: 150px 0; background: #FFF6E4;}
#info .tit{text-align: center;}

#info .info_list{display: flex; padding: 50px 0 0;}
#info .info_list dl{width: calc(100% / 3); text-align: center; border-right: 1px solid rgba(174, 143, 80,0.4);}
#info .info_list dl:last-child{border: none;}
#info .info_list dl dt{padding: 0 0 50px;}
#info .info_list dl dd{color: var(--main-color);}
#info .info_list dl dd span{font-size: 3rem; font-weight: 700;}

/* #course */
#course .inner{position: relative; display: flex; gap: 50px; padding: 150px 5% 350px;}

#course .tit{width: calc((100% - 50px) / 2);}
#course .course_con{width: calc((100% - 50px) / 2);}
.course_con{position: relative;}
.course_img img{position: absolute; top: 0; left: 0; width: 100%;}
.course_txt{position: absolute; left: 50%; top: 30%; transform: translate(-50%, -50%); width: 100%;}
.course_txt ul{position: absolute; text-align: center; left: 50%; top: 50%; transform: translate(-50%,0); color: #fff; width: 100%;}
.course_txt ul dt{font-size: 4rem; font-weight: 700;}
.course_txt ul dd{padding: 50px 0;}

.course_tab{position: absolute; left: 5%; top: 50%;}
.course_tab li{font-size: 3rem; font-weight: 700; padding: 10px 0; color: #ccc; border-bottom: 1px solid #ccc; width: 400px; cursor: pointer;}
.course_tab li i{float: right;}
.course_tab li.on{color: var(--main-color); border-bottom: 1px solid var(--main-color); transition: all 0.5s;}

/* #resort */
#resort{height: 693.8px;}
#resort .resort_img{position: relative; z-index: -1;}
#resort .resort_img img{position: absolute; left: 0; top: 0;}
#resort .resort_txt{text-align: center; padding: 150px 0 0; color: #fff;}
#resort .resort_txt .resort_tab{display: flex; justify-content: center; gap: 20px; padding: 0 0 50px;}
#resort .resort_txt .resort_tab li{font-size: 3rem; padding: 5px; font-weight: 700; cursor: pointer;}
#resort .resort_txt .resort_tab li.on{color: var(--main-color);}

/* #facility */
#facility{padding: 150px 0;}
#facility .btn_more a{border-bottom: 1px solid #000;}
#facility .btn_more a:hover{color: var(--main-color); border-bottom: 1px solid var(--main-color);}
#facility .inner{position: relative;}

#facility .tit{text-align: center;}

#facility .facility_tab{display: flex; justify-content: center; gap: 30px; padding: 50px 0;}
#facility .facility_tab li{font-size: 2.4rem; cursor: pointer; font-weight: 700; padding: 5px 0; border-bottom: 3px solid rgba(0,0,0,0);}
#facility .facility_tab li.on{color: var(--main-color); border-bottom: 3px solid var(--main-color); transition: all 0.5s;}

#facility .facility_con{display: flex; gap: 50px;}

#facility .facility_img{position: relative; width: calc((100% - 50px) / 2); height: 417.06px;}
#facility .facility_img img{position: absolute; left: 0; top: 0;}

#facility .facility_txt{position: relative; width: calc((100% - 50px) / 2);}
#facility .facility_txt ul{position: absolute; left: 0; top: 50%; transform: translate(0, -50%);}
#facility .facility_txt ul dt{font-size: 4rem; font-weight: 700;}
#facility .facility_txt ul dd{padding: 50px 0;}

/* #map */
#map{display: flex;}
#map .map_left{width: 50%;}
#map .map_left iframe{width: 100%; height: 100%;}

#map .map_right{width: 50%; background: var(--main-color); padding: 150px; color: #fff;}
#map .map_right dl dt{font-size: 6rem;}
#map .map_right dl dd{padding: 50px 0; font-size: 2rem;}
#map .map_right p{font-weight: 700;}

/* #event */
#event{padding: 150px 0;}
#event .inner{display: flex; gap: 50px;}

#event .event_img{width: 50%;}
#event .event_img img{width: 100%; height: 100%; object-fit: cover;}

#event .event_txt{width: calc(50% - 50px);}
#event .event_txt ul li{position: relative; padding: 30px 0; border-bottom: 1px solid #ccc; transition: all 0.5s;}
#event .event_txt ul li:hover{border-bottom: 1px solid var(--main-color); color: var(--main-color);}
#event .event_txt ul li span{font-size: 2rem; font-weight: 700;}
#event .event_txt ul li i{position: absolute; top: 50%; right: 10%; transform: translate(0,-50%); font-size: 6rem; color: #ccc; transition: all 1s;}
#event .event_txt ul li:hover i{right: 0; color: var(--main-color);}